body {
  font: 16px verdana, helvetica, arial;
}

table {
  margin: 4px;
  border-collapse: collapse;
  width: 1%;
  white-space: nowrap;
}

table, th {
  border: 2px solid black;
  padding: 4px;
}

th {
  font-weight: bold;
  font-size: 16px;
}

tr:nth-child(even) {
  background-color: #cccccc;
}

td {
  padding: 4px;
  text-align: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
  white-space: nowrap;
}

.header {
  font-weight: bold;
  font-size: 32px;
}

.white {
  background-color: white;
}

.green {
  color: green;
}

.red {
  color: red;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.one {
  width: 1%;
}
.wide {
  width: 100%;
}
.wrap {
  white-space: normal;
}
