%h1 Create Server
%form{ method: :post, action: '/mods/search' }
  %p
    %label Search for Factorio Mod Name:
    %input{ type: 'text', name: 'name' }
  %input{ type: 'submit'}
%table
  %tr
    %th &nbsp;
    %th Name
    %th Filename
    %th File Timestamp
  - @mods.each do |mod|
    - name = mod[:file].split('_')[0..-2].join('_')
    %tr
      %td
        %input{ type: 'checkbox', name: 'type', value: mod[:file] }
      %td.align-right
        #{name}
        |
        %a{ href: Config.factorio_mod_url+'/mod/'+name, target: '_blank' } View
      %td.align-right
        = mod[:file]
      %td.align-left
        #{mod[:time]} [#{filesize(mod[:size])}]
