%h1 Threads
%table
  %tr
    %th Thread ID
    %th Thread Name
    %th Thread Status
    %th Thread Priority
  / - ThreadPool.thread_group.list.each do |thread|
  - @threads.each do |thread|
    %tr
      %td= thread.object_id
      %td.align-left
        %pre= thread.name
      %td= thread.status
      %td= thread.priority
